.stApp > header {
    background-color: transparent;
}

.stApp {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: #0e1117;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0e1117, #0e1117);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0e1117, #0e1117); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}